.footer {
    display: flex;


    width: 100%;
    padding: 16px;
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    position: fixed;
    height: 11vh;
    align-items: center;
    gap: 2rem;
    justify-content: center;


}

.footer__left {
    justify-self: flex-start!important;
    flex: 0.3;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;


}

.footer__left-logo {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.footer__left-song-info {
    display: flex;
    flex-direction: column;
}

.footer__left-song-title,
.footer__left-artist-name {
    margin: 0;
    font-weight: bold;
}
.footer__left-artist-name {
    font-size: 12px;
}

.footer__center {
    flex: 0.4;
    display: flex;
    align-items: center;
justify-content: center;


    gap: 18px;
}



.footer__center-control-button-large {
    height: 50px !important;
    width: 50px !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: none;
    color: #fff !important;
    cursor: pointer;
    transition: 200ms color ease-in !important;
}

.footer__center-control-button {
    height: 35px !important;
    width: 35px !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: none;
    color: #fff !important;
    cursor: pointer;
    transition: 200ms color ease-in !important;

}

.footer__center-control-button:hover {
    color: #1ed760 !important;
}

.footer__center-control-button-large:hover {
    color: #1ed760 !important;
}





.footer__right {
      max-width: 300px;
    flex: 0.3;
    justify-content: center;


}
.footer__right__slider {
    color: #1DB954!important;
}







