
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;

    background: black;
    justify-content: space-between;
    gap: 4rem;

}

.login__logo {
    max-width: 350px;
    margin: 0 auto;
}

.login__buttons {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 500px;
    gap: 1rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.MuiButton-root {

    padding: 15px 40px!important;
    background-color: #1DB954!important;
    color: white!important;
    border: none!important;
    border-radius: 99px!important;
    font-size: 16px!important;
    font-weight: bold!important;
    cursor: pointer!important;
    text-transform: uppercase!important;
    margin-bottom: 10px!important;

}



.login__google {
    width: 280px;
    border-radius: 99px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.login__google img {
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}


.login__google:hover {

}


@media (max-width: 600px) {
    .login__logo {
        width: 80%;
        margin-bottom: 20px;
    }

    .login__buttons {
           margin:1.5rem auto;
        height: 150px;
        width: 70%;

    }




}


@media (max-width: 380px) {


    .login__google {
        width: 100%;

        font-size: 13px;



    }


}


