.sidebar {
  /*background-color: #040404;*/
 background: rgba(255, 255, 255, 0.09);
  color: #fff;
  min-width: 230px;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
    margin:8px 0 8px 8px;
  border-radius: 9px;
  flex: 0.2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.logo img {
  height: 40px;
}

.menu-items {
  list-style-type: none;
  padding: 0;

    margin-bottom: 16px;
}




.sidebar__title {
    padding: 0 10px;
    font-size: 12px;

}
.sidebar hr {
    border: 1px solid rgba(255,255,255,0.2);

    margin: 10px auto;
}